<ion-header>
  <ion-navbar color="skin-green">
	<ion-buttons left>
		<button ion-button (click)="close()">
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>Tanah</ion-title>
    <ion-buttons end color="primary">
		<button ion-button (click)="addTanah()" >
			<ion-icon name="send"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<form [formGroup]="kuesionerForm" novalidate>
		<md-list>
			<md-list-item>
				<md-input-container class="input-full-width">
					<input mdInput formControlName="lokasi_proyek" placeholder="Lokasi Proyek" >
				</md-input-container>
			</md-list-item>
			<md-list-item>
				<div flex class="input-full-width">
				<label >Provinsi</label>
				<md-select mdInput class="input-full-width" placeholder="Provinsi" formControlName="kode_prov" #kode_prov floatPlaceholder="never" (change)="changeProvinsi(kuesionerForm.value.kode_prov)">
					<md-option value="0">Pilih Provinsi</md-option>
					<md-option *ngFor="let provinsi of allProvinsi" [value]="provinsi.kode_prov">{{ provinsi.nama_provinsi }}</md-option>
				</md-select>
				</div>
			</md-list-item>
			<md-list-item>
				<div flex class="input-full-width">
				<label >Kabupaten</label>
				<md-select mdInput class="input-full-width" placeholder="Kabupaten" formControlName="kode_kab" #kode_kab floatPlaceholder="never" (change)="changeKabupaten(kuesionerForm.value.kode_kab)">
					<md-option value="0">Pilih Kabupaten</md-option>
					<md-option *ngFor="let kabupaten of allKabupaten" [value]="kabupaten.kode_kab">{{ kabupaten.nama_kabupaten }}</md-option>
				</md-select>
				</div>
			</md-list-item>
			<md-list-item>
				<div flex class="input-full-width">
				<label >Kecamatan</label>
				<md-select mdInput class="input-full-width" placeholder="Kecamatan" formControlName="kode_kec" #kode_kec floatPlaceholder="never" (change)="changeKecamatan(kuesionerForm.value.kode_kec)">
					<md-option value="0">Pilih Kecamatan</md-option>
					<md-option *ngFor="let kecamatan of allKecamatan" [value]="kecamatan.kode_kec">{{ kecamatan.nama_kecamatan }}</md-option>
				</md-select>
				</div>
			</md-list-item>
			<md-list-item>
				<div flex class="input-full-width">
				<label >Nagari</label>
				<md-select  mdInput class="input-full-width" placeholder="Nagari" formControlName="kode_kel" #kode_kel floatPlaceholder="never">
					<md-option value="0">Pilih Nagari</md-option>
					<md-option *ngFor="let kelurahan of allKelurahan" [value]="kelurahan.kode_kel">{{ kelurahan.nama_kelurahan }}</md-option>
				</md-select>
				</div>
			</md-list-item>
			<md-list-item>
				<md-input-container class="input-full-width">
					<input mdInput formControlName="jorong" placeholder="Jorong / Sorong" >
				</md-input-container>
			</md-list-item>
		</md-list>
		<button type="button" ion-button icon-left (click)="geolocate()" color="secondary">
          <ion-icon ios="ios-locate" md="md-locate"></ion-icon> Dapatkan Lokasi
		  </button>
		<button type="button" ion-button icon-left (click)="pinpoint()" color="secondary">
          <ion-icon ios="ios-map" md="md-map"></ion-icon> Pin Point
      	</button>
		<ion-item *ngIf="data.y">
	        <ion-icon ios="ios-globe" md="md-globe"  [ngStyle]="{'color': '#0CA9EA'}"></ion-icon>
	        Latitude
	        <ion-badge item-right>{{data.y}}</ion-badge>
	    </ion-item>
	    <ion-item *ngIf="data.x">
	        <ion-icon ios="ios-globe" md="md-globe" [ngStyle]="{'color': '#CE6296'}"></ion-icon>
	        Longitude
	        <ion-badge item-right>{{data.x}}</ion-badge>
		</ion-item>
		
		<!--<ion-item>
			<ion-label floating>Lokasi Proyek</ion-label>
			<ion-input formControlName="lokasi_proyek"></ion-input>
		</ion-item>-->
		<!--<ion-item>
			<ion-label>Provinsi</ion-label>
			<ion-select formControlName="kode_prov" #kode_prov (ionChange)="changeProvinsi(kode_prov.value)">
				<ion-option value="0">Pilih Provinsi</ion-option>
				<ion-option *ngFor="let provinsi of allProvinsi" value="{{ provinsi.kode_prov }}">
					{{ provinsi.nama_provinsi }}
				</ion-option>
			</ion-select>
		</ion-item>-->
		<!--<ion-item>
			<ion-label>Kabupaten</ion-label>
			<ion-select formControlName="kode_kab" #kode_kab (ionChange)="changeKabupaten(kode_kab.value)">
				<ion-option value="0">Pilih Kabupaten</ion-option>
				<ion-option *ngFor="let kabupaten of allKabupaten" value="{{ kabupaten.kode_kab }}">
					{{ kabupaten.nama_kabupaten }}
				</ion-option>
			</ion-select>
		</ion-item>-->
		<!--<ion-item>
			<ion-label>Kecamatan</ion-label>
			
			<ion-select formControlName="kode_kec" #kode_kec (ionChange)="changeKecamatan(kode_kec.value)">
				<ion-option value="0">Pilih Kecamatan</ion-option>
				<ion-option *ngFor="let kecamatan of allKecamatan" value="{{ kecamatan.kode_kec }}">
					{{ kecamatan.nama_kecamatan }}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Nagari</ion-label>
			<ion-select formControlName="kode_kel">
				<ion-option value="0">Pilih Nagari</ion-option>
				<ion-option *ngFor="let desa of allKelurahan" value="{{ desa.kode_kel }}">
					{{ desa.nama_kelurahan }}
				</ion-option>
			</ion-select>
			
		</ion-item>-->
		
		<!--<ion-item>
			<ion-label floating>Jorong</ion-label>
			<ion-input formControlName="jorong"></ion-input>
		</ion-item>-->
		<ion-list>
			
			<div>
				<div>
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Profile</h3>
						</div>
						<div class="box-body">
							<ion-item>
								<ion-label floating >Nama Pemilik</ion-label>
								<ion-input formControlName="nama_pemilik">
									
								</ion-input>
							</ion-item>
							<ion-item>
								<ion-label floating>Alamat Pemilik</ion-label>
								<ion-input formControlName="alamat_pemilik">
									
								</ion-input>
							</ion-item>

						</div>
					</div>
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Status Tanah</h3>
						</div>
						<div class="box-body">
							<ion-item>
								<ion-label stacked>Status Kepemilikan Tanah</ion-label>
								<ion-select formControlName="status_kepemilikan_tanah">
									<ion-option value="0">Pilih Status Kepemilikan Tanah</ion-option>
									<ion-option *ngFor="let desa of allstatuskepemilikantanah" value="{{ desa.value }}">
										{{ desa.value }}
									</ion-option>
								</ion-select>
							</ion-item>
							<ion-item>
								<ion-label stacked>Status Kepemilikan Tanah</ion-label>
								<ion-select formControlName="pemanfaatantanah">
									<ion-option value="0">Pilih Status Kepemilikan Tanah</ion-option>
									<ion-option *ngFor="let desa of allpemanfaatantanah" value="{{ desa.value }}">
										{{ desa.value }}
									</ion-option>
								</ion-select>
							</ion-item>
							<div formArrayName="tanaman_hortikultura">
								<div class="box box-success">
									<div class="box-header with-border">
										<h3 class="box-title">Hortikura</h3>

										<div class="box-tools pull-right">
											<!--<button type="button" class="btn btn-box-tool" data-widget="collapse">
												<i class="fa fa-minus"></i>
											</button>-->
											<button (click)="addHortikultura()" type="button" class="btn btn-box-tool" title="Tambah Hortikura">
												<i class="fa fa-plus"></i>
											</button>
											<button ion-button small (click)="addHortikultura()"><i class="fa fa-plus"></i></button>
											<!--<button type="button" class="btn btn-box-tool" data-widget="remove">
												<i class="fa fa-times"></i>
											</button>-->
										</div>
									</div>
									
									<div class="box-body">
										<div *ngFor="let address of kuesionerForm.controls.tanaman_hortikultura.controls; let i=index" class="box box-info box-solid collapsed-box">
											<div class="box-header with-border ">
												<h3 class="box-title">Tanaman Hortikura :{{i + 1}}</h3>
												<div class="box-tools pull-right">
													<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
													</button>
													<button type="button" class="btn btn-box-tool" *ngIf="kuesionerForm.controls.tanaman_hortikultura.controls.length > 1" (click)="removeHortikultura(i)"><i class="fa fa-remove"></i>
													</button>
													
												</div>
											
											</div>
											
											<div class="box-body" [formGroupName]="i">
													<ion-item>
														<ion-label floating>Nama Tanaman</ion-label>
														<ion-input type="text" class="form-control" formControlName="nama_tanaman"></ion-input>
														<small [hidden]="kuesionerForm.controls.tanaman_hortikultura.controls[i].controls.nama_tanaman.valid" class="text-danger">
															Nama Tanaman tidak boleh Kosong
														</small>
													</ion-item>
													<ion-item>
														<ion-label floating>1 - 3 Tahun</ion-label>
														<ion-input type="number" class="form-control" formControlName="satu_tiga"></ion-input>
													</ion-item>
													<ion-item>
														<ion-label floating>3 - 10 Tahun</ion-label>
														<ion-input type="number" class="form-control" formControlName="tiga_sepuluh"></ion-input>
													</ion-item>
													<ion-item>
														<ion-label floating>Lebih dari 10 Tahun</ion-label>
														<ion-input type="number" class="form-control" formControlName="lebih_sepuluh"></ion-input>
													</ion-item>
											</div>	
											
										</div>
										
									</div>
								</div>
							</div>
							
							<div formArrayName="tanamanhias">
								<div class="box box-success">
									<div class="box-header with-border">
										<h3 class="box-title">Tanaman Hias</h3>

										<div class="box-tools pull-right">
										
											<button (click)="addTanamanhias()" type="button" class="btn btn-box-tool" title="Tambah Hias">
												<i class="fa fa-plus"></i>
											</button>
											<button ion-button small (click)="addTanamanhias()"> <i class="fa fa-plus"></i></button>
											
										</div>
									</div>
									
									<div class="box-body">
										<div *ngFor="let address of kuesionerForm.controls.tanamanhias.controls; let i=index" class="box box-warning box-solid collapsed-box">
											<div class="box-header with-border">
												<h3 class="box-title">Tanaman Hias :{{i + 1}}</h3>
												<div class="box-tools pull-right">
													<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
													</button>
													<button type="button" class="btn btn-box-tool" *ngIf="kuesionerForm.controls.tanamanhias.controls.length > 1" (click)="removeTanamanhias(i)"><i class="fa fa-remove"></i>
													</button>
													
												</div>
											
											</div>
											
											<div class="box-body" [formGroupName]="i">
												<ion-item>
													<ion-label floating>Nama Tanaman</ion-label>
													<ion-input type="text" color="secondary" class="form-control" formControlName="nama_tanaman"></ion-input>
													<small [hidden]="kuesionerForm.controls.tanamanhias.controls[i].controls.nama_tanaman.valid" class="text-danger">
														Nama Tanaman tidak boleh Kosong
													</small>
												</ion-item>
												<ion-item>
													<ion-label floating>Batang</ion-label>
													<ion-input type="number" class="form-control" formControlName="batang"></ion-input>
												</ion-item>
											</div>	
											
										</div>
										
									</div>
								</div>
							</div>
							
							<div formArrayName="tanamanpelindung">
								<div class="box box-success">
									<div class="box-header with-border">
										<h3 class="box-title">Tanaman Pelindung</h3>

										<div class="box-tools pull-right">
											<button (click)="addTanamanpelindung()" type="button" class="btn btn-box-tool" title="Tambah Hias">
												<i class="fa fa-plus"></i>
											</button>
											<button ion-button small (click)="addTanamanpelindung()"> <i class="fa fa-plus"></i></button>
											
										</div>
									</div>
									
									<div class="box-body">
										<div *ngFor="let address of kuesionerForm.controls.tanamanpelindung.controls; let i=index" class="box box-warning box-solid collapsed-box">
											<div class="box-header with-border">
												<h3 class="box-title">Tanaman Pelindung :{{i + 1}}</h3>
												<div class="box-tools pull-right">
													<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
													</button>
													<button type="button" class="btn btn-box-tool" *ngIf="kuesionerForm.controls.tanamanpelindung.controls.length > 1" (click)="removeTanamanpelindung(i)"><i class="fa fa-remove"></i>
													</button>
												</div>
											</div>
											<div class="box-body" [formGroupName]="i">
												<ion-item>
													<ion-label floating>Nama Tanaman</ion-label>
													<ion-input type="text" class="form-control" formControlName="nama_tanaman"></ion-input>
													<small [hidden]="kuesionerForm.controls.tanamanpelindung.controls[i].controls.nama_tanaman.valid" class="text-danger">
														Nama Tanaman tidak boleh Kosong
													</small>
												</ion-item>
												<ion-item>
													<ion-label floating>1 - 3 Tahun</ion-label>
													<ion-input type="number" class="form-control" formControlName="satu_tiga"></ion-input>
												</ion-item>
												<ion-item>
													<ion-label floating>3 - 10 Tahun</ion-label>
													<ion-input type="number" class="form-control" formControlName="tiga_sepuluh"></ion-input>
												</ion-item>
												<ion-item>
													<ion-label floating>Lebih dari 10 Tahun</ion-label>
													<ion-input type="number" class="form-control" formControlName="lebih_sepuluh"></ion-input>
												</ion-item>
											</div>	
											
										</div>
										
									</div>
								</div>
								
							</div>
							
							<div formArrayName="tanamanlain">
								<div class="box box-success">
									<div class="box-header with-border">
										<h3 class="box-title">Tanaman Lain</h3>

										<div class="box-tools pull-right">
										
											<button (click)="addTanamanhias()" type="button" class="btn btn-box-tool" title="Tambah Hias">
												<i class="fa fa-plus"></i>
											</button>
											<button ion-button small (click)="addTanamanlain()"> <i class="fa fa-plus"></i></button>
											
										</div>
									</div>
									
									<div class="box-body">
										<div *ngFor="let address of kuesionerForm.controls.tanamanlain.controls; let i=index" class="box box-warning box-solid collapsed-box">
											<div class="box-header with-border">
												<h3 class="box-title">Tanaman Lain :{{i + 1}}</h3>
												<div class="box-tools pull-right">
													<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
													</button>
													<button type="button" class="btn btn-box-tool" *ngIf="kuesionerForm.controls.tanamanlain.controls.length > 1" (click)="removeTanamanlain(i)"><i class="fa fa-remove"></i>
													</button>
													
												</div>
											
											</div>
											
											<div class="box-body" [formGroupName]="i">
												<ion-item>
													<ion-label floating>Nama Tanaman</ion-label>
													<ion-input type="text" color="secondary" class="form-control" formControlName="nama_tanaman"></ion-input>
													<small [hidden]="kuesionerForm.controls.tanamanlain.controls[i].controls.nama_tanaman.valid" class="text-danger">
														Nama Tanaman tidak boleh Kosong
													</small>
												</ion-item>
												<ion-item>
													<ion-label floating>Batang</ion-label>
													<ion-input type="number" class="form-control" formControlName="batang"></ion-input>
												</ion-item>
											</div>	
										</div>
									</div>
								</div>

							</div>						
						</div>
					</div>
				</div>	
			</div>

		</ion-list>
		
		<pre>{{ kuesionerForm.value | json }}</pre>
	</form>
	
</ion-content>
