<!--
  Generated template for the TanahviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="skin-green">
    <ion-buttons left>
      <button ion-button (click)="close()">
        <ion-icon><i class="fa fa-times"></i></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Bangunan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown" 
      pullingText="Tarik ke bawah"
      refreshingSpinner="circles"
      refreshingText="Memuat Data">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchstring" (input)="searchbangunan($event)" placeholder="Search"></ion-searchbar>
  <ion-list no-lines>
    <ion-list>
      <ion-item-sliding *ngFor="let key of filteredbangunan">
        <ion-item >
          <h2>{{key.lokasi_proyek}}</h2>
        </ion-item>
        <ion-item-options slide="left">
          <button ion-button color="primary" (click)="viewbangunan(key)">
            <ion-icon name="eye"></ion-icon>
            Lihat
          </button>
          <button ion-button color="secondary" (click)="editbangunan(key)">
            <ion-icon><i class="fa fa-pencil-square-o" aria-hidden="true"></i></ion-icon>
            Edit
          </button>
          <button ion-button color="danger" (click)="deletebangunan(key.key)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
        
      </ion-item-sliding>
    </ion-list>
  </ion-list>
    
  <ion-card>
      <ion-slides autoplay="5000" loop="true" speed="3000" pager>
        <ion-slide *ngFor="let slide of slideData">
          <img [src]="slide.image" />
        </ion-slide>
      </ion-slides>
      <div class="card-title">São Paulo</div>
      <div class="card-subtitle">41 Listings</div>
  </ion-card>
  
</ion-content>
