
<ion-header>
  	<ion-navbar color="skin-green">
		<ion-buttons left>
			<button ion-button (click)="close()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Edit Bangunan</ion-title>
		<ion-buttons end color="primary">
			<button ion-button (click)="editBangunan(key)" [disabled]="!bangunanForm.controls.lokasi_proyek.valid">
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-buttons>
  	</ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="bangunanForm" novalidate>
		<ion-list>
			<ion-item>
				<ion-label floating>Lokasi Proyek</ion-label>
				<ion-input formControlName="lokasi_proyek" required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Provinsi</ion-label>
				<ion-select formControlName="kode_prov" #kode_prov (ionChange)="changeProvinsi(kode_prov.value)">
					
					<ion-option *ngFor="let provinsi of allProvinsi" value="{{ provinsi.kode_prov }}">
						{{ provinsi.nama_provinsi }}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Kabupaten</ion-label>
				<ion-select formControlName="kode_kab" #kode_kab (ionChange)="changeKabupaten(kode_kab.value)">
					
					<ion-option *ngFor="let kabupaten of allKabupaten" value="{{ kabupaten.kode_kab }}">
						{{ kabupaten.nama_kabupaten }}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Kecamatan</ion-label>
				<ion-select formControlName="kode_kec" #kode_kec (ionChange)="changeKecamatan(kode_kec.value)">
					
					<ion-option *ngFor="let kecamatan of allKecamatan" value="{{ kecamatan.kode_kec }}">
						{{ kecamatan.nama_kecamatan }}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Nagari</ion-label>
				<ion-select formControlName="kode_kel">
					
					<ion-option *ngFor="let desa of allKelurahan" value="{{ desa.kode_kel }}">
						{{ desa.nama_kelurahan }}
					</ion-option>
				</ion-select>
				
			</ion-item>
			
			<ion-item>
				<ion-label floating>Jorong</ion-label>
				<ion-input formControlName="jorong"></ion-input>
			</ion-item>
		</ion-list>
		<button type="button" ion-button icon-left (click)="geolocate()" color="secondary">
          <ion-icon ios="ios-locate" md="md-locate"></ion-icon> Dapatkan Lokasi
		  </button>
		<button type="button" ion-button icon-left (click)="pinpoint()" color="secondary">
          <ion-icon ios="ios-map" md="md-map"></ion-icon> Pin Point
      	</button>
		<ion-item *ngIf="bangunanForm.value.y">
	        <ion-icon ios="ios-globe" md="md-globe"  [ngStyle]="{'color': '#0CA9EA'}"></ion-icon>
	        Latitude
	        <ion-badge item-right>{{bangunanForm.value.y}}</ion-badge>
	    </ion-item>
	    <ion-item *ngIf="bangunanForm.value.x">
	        <ion-icon ios="ios-globe" md="md-globe" [ngStyle]="{'color': '#CE6296'}"></ion-icon>
	        Longitude
	        <ion-badge item-right>{{bangunanForm.value.x}}</ion-badge>
		</ion-item>

		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Profil Responden</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>						
				</div>					
			</div>
			<div class="box-body">
				<ion-list>
					<ion-item>
						<ion-label floating >Nama / Nama Kepala Keluarga</ion-label>
						<ion-input formControlName="nama"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating >Alamat</ion-label>
						<ion-input formControlName="alamat"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating >Jenis Kelamin</ion-label>
						<ion-select interface="popover" formControlName="jenis_kelamin" #jenis_kelamin>
							
							<ion-option value="L">Laki - Laki</ion-option>
							<ion-option value="P">Perempuan</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Usia</ion-label>
						<ion-select interface="popover" formControlName="usia" #usia>
							
							<ion-option value="< 20 tahun">< 20 tahun</ion-option>
							<ion-option value="20 s.d. 30 tahun">20 s.d. 30 tahun</ion-option>
							<ion-option value="> 30 s.d. 40 tahun">> 30 s.d. 40 tahun</ion-option>
							<ion-option value="> 40 s.d. 50 tahun">> 40 s.d. 50 tahun</ion-option>
							<ion-option value="> 50 s.d. 55 tahun">> 50 s.d. 55 tahun</ion-option>
							<ion-option value="> 55 tahun">> 55 tahun</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Pendidikan Terakhir</ion-label>
						<ion-select interface="action-sheet" formControlName="pendidikanterakhir" #pendidikanterakhir>
							
							<ion-option value="Tidak sekolah atau tidak tamat SD">Tidak sekolah atau tidak tamat SD</ion-option>
							<ion-option value="Tamat SD / MI / sederajat">Tamat SD / MI / sederajat</ion-option>
							<ion-option value="Tamat SMP / MTs / sederajat">Tamat SMP / MTs / sederajat</ion-option>
							<ion-option value="Tamat SMA / MA / sederajat">Tamat SMA / MA / sederajat</ion-option>
							<ion-option value="Tamat akademi (D1 / D2 / D3)">Tamat akademi (D1 / D2 / D3)</ion-option>
							<ion-option value="Tamat sarjana (S1)">Tamat sarjana (S1)</ion-option>
							<ion-option value="Tamat pasca sarjana (S2 / S3)">Tamat pasca sarjana (S2 / S3)</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Status dalam rumah tangga</ion-label>
						<ion-select interface="popover" formControlName="statusrumahtangga" #statusrumahtangga>
							
							<ion-option value="Bapak / Suami">Bapak / Suami</ion-option>
							<ion-option value="Ibu / Istri">Ibu / Istri</ion-option>
							<ion-option value="Anak">Anak</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Lama Tinggal di rumah ini</ion-label>
						<ion-select interface="action-sheet" formControlName="lamatinggal" #lamatinggal>
							
							<ion-option value="< 2 tahun">< 2 tahun</ion-option>
							<ion-option value="2 s.d. 5 tahun">2 s.d. 5 tahun</ion-option>
							<ion-option value="> 5 s.d. 10 tahun">> 5 s.d. 10 tahun</ion-option>
							<ion-option value="> 10 tahun">> 10 tahun</ion-option>
						</ion-select>
					</ion-item>
				</ion-list>
			</div>
		</div>

		<div class="box box-primary collapsed-box">
			<div class="box-header with-border">
				<h3 class="box-title">Data Sosial Rumah Tangga</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-plus"></i>
					</button>						
				</div>					
			</div>
			<div class="box-body">
				<ion-list>
					<ion-item>
						<ion-label floating >Jumlah orang yang tinggal di rumah ini</ion-label>
						<ion-select interface="popover" formControlName="jumlahorang" #jumlahorang>
							<ion-option value="3 - 5 orang">3 - 5 orang</ion-option>
							<ion-option value="6 - 8 orang">6 - 8 orang</ion-option>
							<ion-option value="> 8 orang">> 8 orang</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Jumlah KK yang tinggal di rumah ini</ion-label>
						<ion-select interface="popover" formControlName="jumlahkk" #jumlahkk>
							
							<ion-option value="1 KK">1 KK</ion-option>
							<ion-option value="2 KK">2 KK</ion-option>
							<ion-option value="3 KK">3 KK</ion-option>
							<ion-option value="4 KK">4 KK</ion-option>
							<ion-option value="> 4 KK">> 4 KK</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Status kependudukan</ion-label>
						<ion-select interface="action-sheet" formControlName="statuskependudukan" #statuskependudukan>
							
							<ion-option value="Suami & istri penduduk asli">Suami & istri penduduk asli</ion-option>
							<ion-option value="Suami & istri bukan penduduk asli">Suami & istri bukan penduduk asli</ion-option>
							<ion-option value="Suami penduduk asli, istri pendatang">Suami penduduk asli, istri pendatang</ion-option>
							<ion-option value="Istri penduduk asli, suami pendatang">Istri penduduk asli, suami pendatang</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Kepemilikan Kartu Tanda Penduduk (KTP)</ion-label>
						<ion-select interface="action-sheet" formControlName="kepemilikanktp" #kepemilikanktp>
							
							<ion-option value="Tidak memiliki KTP">Tidak memiliki KTP</ion-option>
							<ion-option value="Memiliki KTP dengan alamat yang sesuai dengan alamat rumah ini">Memiliki KTP dengan alamat yang sesuai dengan alamat rumah ini</ion-option>
							<ion-option value="Memiliki KTP desa ini, tetapi alamatnya tidak sesuai alamat rumah ini">Memiliki KTP desa ini, tetapi alamatnya tidak sesuai alamat rumah ini</ion-option>
							<ion-option value="Memiliki KTP luar desa ini">Memiliki KTP luar desa ini</ion-option>
							<ion-option value="Memiliki KTP musiman ">Memiliki KTP musiman </ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating>Kepemilikian Kartu Keluarga</ion-label>
						<ion-select interface="action-sheet" formControlName="kepemilikankk" #kepemilikankk>
							
							<ion-option value="Tidak memiliki Kartu Keluarga">Tidak memiliki Kartu Keluarga</ion-option>
							<ion-option value="Memiliki Kartu Keluarga dengan alamat yang sesuai dengan rumah ini">Memiliki Kartu Keluarga dengan alamat yang sesuai dengan rumah ini</ion-option>
							<ion-option value="Memiliki Kartu Keluarga, tetapi alamatnya tidak sesuai dengan rumah ini">Memiliki Kartu Keluarga, tetapi alamatnya tidak sesuai dengan rumah ini</ion-option>
						</ion-select>
					</ion-item>
				</ion-list>
			</div>
		</div>

		<div class="box box-primary collapsed-box">
			<div class="box-header with-border">
				<h3 class="box-title">Status Tanah, Kondisi Bangunan & Aset Lainnya</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-plus"></i>
					</button>						
				</div>					
			</div>
			<div class="box-body">
				<ion-list>
					<ion-item>
						<ion-label floating >Status kepemilikan tanah</ion-label>
						<ion-select interface="action-sheet" formControlName="statuskepemilikantanah" #statuskepemilikantanah>
							
							<ion-option value="Sertifikat Hak Milik (SHM)">Sertifikat Hak Milik (SHM)</ion-option>
							<ion-option value="Hak Guna Bangunan (HGB)">Hak Guna Bangunan (HGB)</ion-option>
							<ion-option value="Girik">Girik</ion-option>
							<ion-option value="Tanah publik / tanah negara">Tanah publik / tanah negara</ion-option>
							<ion-option value="Tanah milik orang lain">Tanah milik orang lain</ion-option>
							
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Status kepemilikan rumah</ion-label>
						<ion-select interface="popover" formControlName="statuskepemilikanrumah" #statuskepemilikanrumah>
							
							<ion-option value="Milik sendiri">Milik sendiri</ion-option>
							<ion-option value="Milik keluarga">Milik keluarga</ion-option>
							<ion-option value="Sewa bulanan">Sewa bulanan</ion-option>
							<ion-option value="Kontrak tahunan">Kontrak tahunan</ion-option>
							<ion-option value="Menumpang">Menumpang</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Nama Pemilik</ion-label>
						<ion-input formControlName="namapemilik"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating >Alamat Pemilik</ion-label>
						<ion-input formControlName="alamatpemilik"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating >Harga sewa per bulan, jika rumah ybs sewa / kontrak</ion-label>
						<ion-select interface="action-sheet" formControlName="hargasewaperbulan" #hargasewaperbulan>
							
							<ion-option value="< Rp 250 ribu per bulan">< Rp 250 ribu per bulan</ion-option>
							<ion-option value="Rp 250 ribu s.d. Rp 500 per bulan">Rp 250 ribu s.d. Rp 500 per bulan</ion-option>
							<ion-option value="> Rp 500.000 s.d. Rp  750.000 per bulan">> Rp 500.000 s.d. Rp  750.000 per bulan</ion-option>
							<ion-option value="> Rp 750.000 s.d. Rp 1.000.000 per bulan">> Rp 750.000 s.d. Rp 1.000.000 per bulan</ion-option>
							<ion-option value="> Rp 1.000.000 per bulan">> Rp 1.000.000 per bulan</ion-option>
							
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating>Jenis konstruksi bangunan rumah</ion-label>
						<ion-select interface="popover" formControlName="jeniskontruksi" #jeniskontruksi>
							
							<ion-option value="Permanen">Permanen</ion-option>
							<ion-option value="Semi permanen">Semi permanen</ion-option>
							<ion-option value="Non permanen / temporer">Non permanen / temporer</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Kepemilikan bukti pembayaran / struk PBB (Pajak Bumi & Bangunan)</ion-label>
						<ion-select interface="popover" formControlName="strukpbb" #strukpbb>
							
							<ion-option value="Punya">Punya</ion-option>
							<ion-option value="Tidak punya">Tidak punya</ion-option>
							<ion-option value="Tidak tahu">Tidak tahu</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Luas Bumi & Bangunan</ion-label>
						<ion-input formControlName="luasbumi" placeholder="Luas Bumi"></ion-input>
						<ion-input formControlName="luasbangunan" placeholder="Luas Bangunan"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating >Kepemilikan surat IMB</ion-label>
						<ion-select interface="action-sheet" formControlName="kepemilikansuratimb" #kepemilikansuratimb>
							
							<ion-option value="Ada, tapi untuk bangunan lama">Ada, tapi untuk bangunan lama</ion-option>
							<ion-option value="Ada untuk bangunan saat ini">Ada untuk bangunan saat ini</ion-option>
							<ion-option value="Sedang dibuat">Sedang dibuat</ion-option>
							<ion-option value="Tidak ada">Tidak ada</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Pemanfaatan bangunan</ion-label>
						<ion-select interface="action-sheet" formControlName="pemanfaatanbangunan" #pemanfaatanbangunan>
							
							<ion-option value="Hanya untuk bermukim">Hanya untuk bermukim</ion-option>
							<ion-option value="Untuk bermukim & tempat usaha">Untuk bermukim & tempat usaha</ion-option>
							<ion-option value="Untuk bermukin & gudang penyimpanan">Untuk bermukin & gudang penyimpanan</ion-option>
							<ion-option value="Untuk bermukim & tempat pertemuan warga">Untuk bermukim & tempat pertemuan warga</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Sumber penerangan</ion-label>
						<ion-select interface="action-sheet" formControlName="sumberpenerangan" #sumberpenerangan>
							
							<ion-option value="Sambungan langsung dari PLN">Sambungan langsung dari PLN</ion-option>
							<ion-option value="Sambungan listrik PLN dari tetangga">Sambungan listrik PLN dari tetangga</ion-option>
							<ion-option value="Sambungan listrik non PLN">Sambungan listrik non PLN</ion-option>
							<ion-option value="Petromaks / lilin / lampu templok">Petromaks / lilin / lampu templok</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Sambungan telepon kabel</ion-label>
						<ion-select interface="popover" formControlName="sambungantelpkabel" #strukpbb>
							
							<ion-option value="Ada">Ada</ion-option>
							<ion-option value="Tidak ada">Tidak ada</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Jenis pagar rumah</ion-label>
						<ion-select interface="popover" formControlName="jenispagarrumah" #strukpbb>
							
							<ion-option value="Tanpa pagar">Tanpa pagar</ion-option>
							<ion-option value="Pagar tanaman">Pagar tanaman</ion-option>
							<ion-option value="Pagar Besi">Pagar Besi</ion-option>
							<ion-option value="Pagar Batu">Pagar Batu</ion-option>
							<ion-option value="Pagar Kayu">Pagar Kayu</ion-option>
							<ion-option value="Pagar Bambu">Pagar Bambu</ion-option>
							<ion-option value="Pagar Seng">Pagar Seng</ion-option>
							<ion-option value="Pagar Kawat">Pagar Kawat</ion-option>
							<ion-option value="Pagar BRC">Pagar BRC</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Panjang Pagar</ion-label>
						<ion-input interface="action-sheet" formControlName="panjangpagar"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>Kepemilikan sumur / mata air</ion-label>
						<ion-select interface="action-sheet" formControlName="kepemilikansumurmataair" #kepemilikansumurmataair>
							
							<ion-option value="Tidak ada">Tidak ada</ion-option>
							<ion-option value="Sumur timba">Sumur timba</ion-option>
							<ion-option value="Sumur dengan pompa tangan">Sumur dengan pompa tangan</ion-option>
							<ion-option value="Sumur dengan pompa listrik biasa">Sumur dengan pompa listrik biasa</ion-option>
							<ion-option value="Sumur dengan jet pump">Sumur dengan jet pump</ion-option>
							<ion-option value="PAM">PAM</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Kepemilikan rumah di tempat lain</ion-label>
						<ion-select interface="action-sheet" formControlName="kepemilikanrumahlain" #kepemilikanrumahlain>
							
							<ion-option value="Tidak memiliki">Tidak memiliki</ion-option>
							<ion-option value="Memiliki di desa yang sama">Memiliki di desa yang sama</ion-option>
							<ion-option value="Memiliki di desan lain di kabupaten yang sama">Memiliki di desan lain di kabupaten yang sama</ion-option>
							<ion-option value="Memiliki di kab/kota lain, tetapi masih di Provinsi Sumatera Barat">Memiliki di kab/kota lain, tetapi masih di Provinsi Sumatera Barat</ion-option>
							<ion-option value="Memiliki di luar Provinsi Sumatera Barat">Memiliki di luar Provinsi Sumatera Barat</ion-option>

						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Kepemilikan tanah di tempat lain</ion-label>
						<ion-select interface="popover" formControlName="kepemilikantanahlain" #kepemilikantanahlain>
							
							<ion-option value="Memiliki">Memiliki</ion-option>
							<ion-option value="Tidak">Tidak</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Lokasi tanah milik di tempat lain (jika ada)</ion-label>
						<ion-select interface="action-sheet" formControlName="lokasitanahditempatlain" #lokasitanahditempatlain>
							
							<ion-option value="Di desa yang sama">Di desa yang sama</ion-option>
							<ion-option value="Di desa lain, tetapi masih di dalam kecamatan yang sama">Di desa lain, tetapi masih di dalam kecamatan yang sama</ion-option>
							<ion-option value="Di kecamatan lain, tetapi di kota/Kabupaten yang sama">Di kecamatan lain, tetapi di kota/Kabupaten yang sama</ion-option>
							<ion-option value="Di kota /kabupatenlain, tetapi masih di Provinsi Sumatera Barat">Di kota /kabupatenlain, tetapi masih di Provinsi Sumatera Barat</ion-option>
							<ion-option value="Di luar Provinsi Sumatera Barat">Di luar Provinsi Sumatera Barat</ion-option>
						</ion-select>
					</ion-item>
				</ion-list>
			</div>
		</div>
		
		<div class="box box-primary collapsed-box">
			<div class="box-header with-border">
				<h3 class="box-title">Kondisi Ekonomi</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-plus"></i>
					</button>						
				</div>					
			</div>
			<div class="box-body">
				<ion-list>
					<ion-item>
						<ion-label floating >Pekerjaan utama kepala keluarga</ion-label>
						<ion-select interface="popover" formControlName="pekerjaanutama" #pekerjaanutama>
							
							<ion-option value="PNS">PNS</ion-option>
							<ion-option value="TNI / polisi">TNI / polisi</ion-option>
							<ion-option value="Ibu rumah tangga">Ibu rumah tangga</ion-option>
							<ion-option value="Pegawai swasta">Pegawai swasta</ion-option>
							<ion-option value="Petani / peternak ">Petani / peternak </ion-option>
							<ion-option value="Wiraswasta / pedagang">Wiraswasta / pedagang</ion-option>
							<ion-option value="Buruh">Buruh</ion-option>
							<ion-option value="Pengemudi">Pengemudi</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Pekerjaan sampingan kepala keluarga</ion-label>
						<ion-select interface="popover" formControlName="pekerjaansampingan" #pekerjaansampingan>
							
							<ion-option value="Ada pekerjaan sampingan">Ada pekerjaan sampingan</ion-option>
							<ion-option value="Tidak ada pekerjan sampingan">Tidak ada pekerjan sampingan</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Total pendapatan per bulan dari seluruh anggota keluarga (termasuk dari pekerjaan utama dan pekerjaan sampingan)</ion-label>
						<ion-select interface="popover" formControlName="totalpendapatanperbulan" #totalpendapatanperbulan>
							
							<ion-option value="< Rp 1.800.000 per bulan">< Rp 1.800.000 per bulan</ion-option>
							<ion-option value="Rp 1.800.000 s.d. Rp 2.700.000 per bulan">Rp 1.800.000 s.d. Rp 2.700.000 per bulan</ion-option>
							<ion-option value="> Rp 2.700.000 s.d. Rp 3.600.000 per bulan">> Rp 2.700.000 s.d. Rp 3.600.000 per bulan</ion-option>
							<ion-option value="> Rp 3.600.000 s.d. Rp 4.500.000 per bulan">> Rp 3.600.000 s.d. Rp 4.500.000 per bulan</ion-option>
							<ion-option value="> Rp 4.500.000 per bulan">> Rp 4.500.000 per bulan</ion-option>

						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Total pengeluaran rata-rata per bulan dari seluruh anggota keluarga</ion-label>
						<ion-select interface="action-sheet" formControlName="totalpengeluaranperbulan" #totalpengeluaranperbulan>
							
							<ion-option value="< Rp 1.800.000 per bulan">< Rp 1.800.000 per bulan</ion-option>
							<ion-option value="Rp 1.800.000 s.d. Rp 2.700.000 per bulan">Rp 1.800.000 s.d. Rp 2.700.000 per bulan</ion-option>
							<ion-option value="> Rp 2.700.000 s.d. Rp 3.600.000 per bulan">> Rp 2.700.000 s.d. Rp 3.600.000 per bulan</ion-option>
							<ion-option value="> Rp 3.600.000 s.d. Rp 4.500.000 per bulan">> Rp 3.600.000 s.d. Rp 4.500.000 per bulan</ion-option>
							<ion-option value="> Rp 4.500.000 per bulan">> Rp 4.500.000 per bulan</ion-option>

						</ion-select>
					</ion-item>
					
				</ion-list>
			</div>
		</div>

		
		<div class="box box-primary collapsed-box">
			<div class="box-header with-border">
				<h3 class="box-title">Informasi Proyek</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-plus"></i>
					</button>						
				</div>					
			</div>
			<div class="box-body">
				<ion-list>
					<ion-item>
						<ion-label floating >Pengetahuan responden tentang rencana pembangunan jaringan irigasi</ion-label>
						<ion-select interface="popover" formControlName="pengetahuanrespondenirigasi" #pengetahuanrespondenirigasi>
							
							<ion-option value="Ya, tahu">Ya, tahu</ion-option>
							<ion-option value="Tidak tahu">Tidak tahu</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Sumber informasi tentang rencana pembangunan jaringan irigasi  (jika responden tahu)</ion-label>
						<ion-select interface="popover" formControlName="sumberinformasi" #sumberinformasi>
							
							<ion-option value="Ya, tahu">Ya, tahu</ion-option>
							<ion-option value="Tidak tahu">Tidak tahu</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Kesediaan responden untuk direlokasi</ion-label>
						<ion-select interface="popover" formControlName="kesediandirekolasi" #kesediandirekolasi>
							<ion-option value="Ya, tahu">Ya, tahu</ion-option>
							<ion-option value="Tidak tahu">Tidak tahu</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Alasan penolakan relokasi (jika menolak)</ion-label>
						<ion-select interface="popover" formControlName="alasanpenolakanrelokasi" #alasanpenolakanrelokasi>
							
							<ion-option value="Ya, tahu">Ya, tahu</ion-option>
							<ion-option value="Tidak tahu">Tidak tahu</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Bentuk penggantian yang lebih disukai</ion-label>
						<ion-select interface="action-sheet" formControlName="bentukpergantiandisukai" #bentukpergantiandisukai>
							
							<ion-option value="Uang tunai">Uang tunai</ion-option>
							<ion-option value="Kavling siap bangun & dana pembangunan rumah">Kavling siap bangun & dana pembangunan rumah</ion-option>
							<ion-option value="Rumah jadi">Rumah jadi</ion-option>
							
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating >Pendapat responden tentang pemindahan warga secara Kolektif</ion-label>
						<ion-select interface="action-sheet" formControlName="pendapatrespondenpemindahankolektif" #pendapatrespondenpemindahankolektif>
							
							<ion-option value="Lebih baik jika warga dipindahkan secara kolektif Ketempat yang sama">Lebih baik jika warga dipindahkan secara kolektif Ketempat yang sama</ion-option>
							<ion-option value="Lebih baik jika warga dibiarkan memilih tempat yang baru masing-masing">Lebih baik jika warga dibiarkan memilih tempat yang baru masing-masing</ion-option>
						</ion-select>
					</ion-item>
				</ion-list>									
			</div>
		</div>
		
		<pre>{{ bangunanForm.value | json }}</pre>
	</form>
	
</ion-content>
