page-jari {
	.button-group {
        .col {
            &:first-child:not(:last-child) {
            padding-right: 0;
            .button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            }
            &:not(:first-child):not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
                border-radius: 0;
            }
            }
            &:last-child:not(:first-child) {
            padding-left: 0;
            .button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            }
        }
    }

    .toolbar-background-md{
        background: url('../assets/images/menu_bg.png');
    }

    ion-title.title.title-md img {
        text-align: left;
        vertical-align: middle;
    }

    .irigasibold{
        font-weight: 500;
    }
}

